@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

body {
  margin: 0;
  font-family: 'Texturina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #59656D;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #FF964F;
  margin: 0%;
}

.keg {
  background-color:#D46A7E;
  text-align: center;
  outline: 5px dotted  #FF964F;
  margin-left: 30%;
  margin-right: 30%;
}

.addKegButton {
  margin:0 auto;
  display:block;
  margin-top: 10px;
}